@import "tailwindcss";

:root {
  --color-bg: #fff8fb;
  /* very light pink background */
  --color-primary: #ff6fa8;
  /* main pink */
  --color-primary-dark: #e65b94;
  /* darker pink for hover */
  --color-text: #3a3a3a;
  /* soft dark text */
  --color-border: #f0c9d9;
  /* light pink border */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}